<header class="Encabezado">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="buscar1">Buscar por Pelicula</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="buscar-xautor">Buscar por Autor</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <h4 style="text-align: center; font-size: 15px;">Todos los Derechos Reservados de Pelis Locas</h4>
</footer>
